.Layout{
    display: flex;
    flex:1;
    flex-direction: row;
}

.LeftPanel{
    display: flex;
    flex:1.8;
    display: flex;
    
    flex-direction: column;
}
    


.RightPanel{
    display: flex;
    flex:6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(64, 64, 64);
    ;

    
}



/* aside {
    width: 30%;
    display: flex;
    flex-direction: column;
} */


.avatar {
    height: 2rem;
    border-radius: 50%;
    margin: 0 0.75rem 0 0;
}



.contactBoxes {
    overflow-y: auto;
    flex: 0.9;
    padding-left: 1.2rem;
    border-radius: 5px;
    padding-top: 0.4rem;;
}
.contactBox {
    border:1px;
    padding: 0.8rem 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color:rgb(204, 204, 204);
    

}
.contactBox:hover,
.contactBox.active {
    border: 1.5px solid gray;
}
.contactText{
    background-color:rgb(204, 204, 204);
    
}




.right-section {
    width: 100%;
}
.contactboxheader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.25rem;
    padding-right: 5rem;
    padding-left: 1.2rem;
    padding-top:0.5rem;
    background:none;
}


