.Layout{
    display: flex;
    flex:1;
    flex-direction: row;
}

.LeftPanel{
    display: flex;
    flex:1.8;
    display: flex;
    
    flex-direction: column;
}
    


.RightPanel{
    display: flex;
    flex:6;
    position: relative;
    left: 2rem;
    top:0.4rem;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background:rgba(230, 230, 230,0.4)
    ;
    ;

    
}



/* aside {
    width: 30%;
    display: flex;
    flex-direction: column;
} */


.avatar {
    height: 2rem;
    border-radius: 50%;
    margin: 0 0.75rem 0 0;
}



.contactBoxes {
    overflow-y: auto;
    flex: 0.9;
    padding-left: 1.2rem;
    border-radius: 5px;
    padding-top: 0.4rem;;
}
.contactBox {
    border:1px;
    padding: 0.8rem 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color:rgb(204, 204, 204);
    flex-basis: 600px;

}
.contactBox:hover,
.contactBox.active {
    border: 1.5px solid gray;
}
.contactText{
    background-color:rgb(204, 204, 204);
    
}




/* .right-section {
    width: 100%;
} */
.contactboxheader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.25rem;
    padding-right: 5rem;
    padding-left: 1.2rem;
    padding-top:0.5rem;
    background:none;
}

.chatUI{
    flex-basis:60rem;
    border:1px solid white;
    background-color:rgb(204, 204, 204);
    padding:0px 10px;
    border-radius:10px;

}
.Chats{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
}
.hostChat{
    align-self: flex-end;
    background-color: rgba(59, 179, 0,0.7);
    
    border:none;
    border-radius:6px;
    margin-right: 5px;
    padding:2px;
    font-size: 14px;
    border:0;
}

.userChats{
    align-self: flex-start;
    background-color:rgba(255, 77, 77,0.7) ;
    border-radius:5px;
    margin-left: 5px;
    padding:2px;
}


input{
    position: absolute ;
    bottom:40px;
    width:50rem;
    left:7rem;
    border: 1px solid white;
    border-radius: 1rem;
    
    padding: 0.5rem 1rem;

    background-image: url(../assets/send.svg);
    background-repeat: no-repeat;
    background-size: 1rem, 1rem;
    background-position:98%;
    background-color: rgba(153, 153, 153,0.5)  ;
}
input:focus{
    outline:none;
}

.selectedContact{
    flex-basis: 500rem;
    width: 60rem;
    margin-top: 0px;
}


.date{
    font-size: 9px ;
    position: relative;
    right:0px;
}